<!-- Pagination buttons -->
<div class="flex justify-center mt-6 space-x-1 pagination">
    <% if (pagination.prevPageUrl) { %>
        <a href="<%= pagination.prevPageUrl %>" class="bg-gray-200 p-3 rounded-xl hover:bg-gray-300 prev-page w-8">&lt;</a>
    <% } else { %>
        <span class="bg-gray-300 p-3 rounded-xl prev-page w-8">&lt;</span>
    <% } %>

    <% pagination.paginationUrls.forEach(pagination => { %>
        <% if (pagination.isCurrent) { %>
            <a href="<%= pagination.url %>" class="bg-gray-500 text-white p-3 rounded-xl w-8"><%= pagination.page %></a>
        <% } else { %>
            <a href="<%= pagination.url %>" class="bg-gray-200 p-3 rounded-xl hover:bg-gray-300 w-8"><%= pagination.page %></a>
        <% } %>
    <% }); %>

    <% if (pagination.nextPageUrl) { %>
        <a href="<%= pagination.nextPageUrl %>" class="bg-gray-200 p-3 rounded-xl hover:bg-gray-300 next-page w-8">&gt;</a>
    <% } else { %>
        <span class="bg-gray-300 p-3 rounded-xl next-page w-8">&gt;</span>
    <% } %>
</div>